* {
    box-sizing: border-box;
}

header {
    text-align: center;
    text-decoration: overline underline hsl(235, 66%, 25%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

img {
    /* width: 100%;
    height: auto; */
    border-radius: 5px;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

footer {
    margin-top: 20px;
    text-align: center;
}