@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #000;
	font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
#cta-button {
	font-family: "Space Grotesk", sans-serif;
	margin-bottom: 10px;
}

a {
	color: #fff;
	text-decoration: none;
}

header {
	position: relative;
	padding: 0 10px;
	box-shadow: 0 0 10px 5px rgba(220, 220, 220, 0.4);
}

.logo {
	display: flex;
	align-items: center;
	gap: 15px;
}

.header-text {
	font-size: 18px;
}

.header-text span {
	display: block;
}

.logo img {
	width: 50px;
	height: 50px;
}

#menu {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px 10px;
	margin: 11px 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	font-size: 1.5rem;
	font-weight: bold;
	background-color: hsl(235, 66%, 25%);
	color: #fff;
}

nav {
	background-color: hsl(235, 66%, 25%);
	border-bottom-left-radius: 50px;
	position: absolute;
	z-index: 999;
	margin-top: 5px;
	display: none;
	right: 0;
	width: 300px;
}

.nav-ul {
	list-style: none;
	margin: 40px auto;
}

.nav-ul li a {
	display: block;
	padding: 15px;
	text-align: center;
}

.nav-ul li a:hover {
	background-color: #fff;
	color: rgb(0, 0, 0);
	font-weight: 700;
}

.open {
	display: block;
}

#hero-container {
	background-image: url(../images/hero.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	filter: blur(2px);
	-webkit-filter: blur(2px);
	height: 400px;
}

#hero-img {
	width: 100%;
}

#hero-msg {
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	border: 3px solid #f1f1f1;
	position: absolute;
	top: 33%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	line-height: 1.3;
	padding: 20px;
}

#hero-msg p {
	padding-bottom: 20px;
}

#cta-container {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 10px;
}

#hero-msg h1 {
	margin-top: 0;
}

h2 {
	font-size: 1.5rem;
}

#cta-button {
	padding: 0.8rem 1.2rem;
	background-color: hsl(235, 66%, 25%);
	border: none;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
}

#cta-button:hover {
	background-color: #fff;
	color: #000;
}

main {
	margin: 40px auto;
	max-width: 350px;
	line-height: 1.3;
}

.cards {
	box-shadow: 0 0 5px 5px rgba(220, 220, 220, 0.6);
	margin-bottom: 20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	overflow: hidden;
}

.cards-head {
	background-color: hsl(235, 66%, 25%);
	color: #fff;
	padding: 10px 10px 1px;
}

.cards-body {
	padding: 10px 10px;
}

.weather-container {
	display: flex;
	/* flex-direction: column; */
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.weather-container p {
	margin: 0;
}

.weather-humidity {
	text-align: center;
	/* margin-top: -10px; */
}

#current-weather img {
	width: 100%;
	height: auto;
}

#forecast {
	margin-top: -10px;
}

.member-card div:first-child {
	width: 200px;
	margin: 0 auto;
}

.member-card div h4 {
	text-align: center;
}

.member-card div:last-child {
	padding-left: 10px;
}

.forecast-item {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-top: 20px;
	flex-basis: calc(33.33% - 10px);
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.spotlight img {
	width: 100%;
	height: 100%;
}

.banner {
	padding: 10px;
	text-align: center;
}

.banner-content {
	padding-top: 20px;
	display: block;
	justify-content: center;
	align-items: center;
}

.close-banner {
	background-color: hsl(235, 66%, 25%);
	color: #fff;
	border-radius: 5px;
	border: none;
	margin-top: 20px;
	padding: 10px 15px;
	margin-left: 10px;
	cursor: pointer;
}

/*---------- FOOTER SECTION ----------*/
#footer-grid {
	padding: 10px 20px;
	margin-top: 20px;
	background-color: hsl(235, 66%, 25%);
	color: #fff;
	font-size: 0.9rem;
}

#footer-grid p {
	text-align: center;
}

#footer-logo {
	display: flex;
	align-items: center;
	line-height: 1.3;
}

address {
	padding-top: 10px;
}

.footer-address {
	padding-left: 20px;
}

#footer-links {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

footer p {
	margin: 5px auto;
}

.footer-img {
	width: 100px;
	height: 100px;
}

#map {
	margin: 20px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

#map iframe {
	width: 100%;
}

#footer-copy {
	text-align: center;
	padding: 10px 10px;
}

#lastModified {
	display: block;
}

.hidden {
	display: none;
}

/*----------- DISCOVER PAGE ------------*/
.upcoming {
	padding-left: 15px;
}

.cards-body.first {
	font-size: 0.9rem;
}

.first h4 {
	margin-bottom: 1rem;
}

.first hr {
	margin-top: -1rem;
	margin-bottom: 0.5rem;
}

.calendar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.calendar iframe {
	width: 100%;
}

#discover h2 {
	text-align: center;
	padding-bottom: 5px;
}

#mainbar-grid .cards,
#sidebar-grid .cards {
	margin-bottom: 40px;
}

figcaption {
	padding: 0.4rem 0;
	text-align: center;
}

figure img {
	width: 100%;
	height: auto;
}

/*----------- JOIN PAGE -----------*/
form fieldset {
	margin: 2rem 0;
	border: 1px solid hsl(235, 66%, 25%);
	border-radius: 10px;
	padding: 0.5rem 2%;
}

form legend {
	color: hsl(235, 66%, 25%);
	margin: 0 1rem;
	padding: 0 0.5rem;
}

form label.form-top,
form div {
	display: block;
	padding-top: 1rem;
	color: #000;
	font-size: 0.8rem;
}

form label.form-top input,
textarea {
	-webkit-appearance: none;
	display: block;
	font-size: 1rem;
	border: solid 1px #999;
	border-radius: 4px;
	padding: 0.75rem;
	color: #555;
	width: 100%;
	margin-bottom: 0.75rem;
	max-width: 20rem;
	background-color: rgba(0, 0, 0, 0.1);
}

form label.form-middle {
	display: flex;
	align-items: center;
	padding: 0.75rem 0;
	color: #555;
}

form label.form-middle input[type="radio"] {
	margin-right: 0.5rem;
}

form input.submitBtn {
	border: none;
	background-color: hsl(235, 66%, 25%);
	cursor: pointer;
	color: #fff;
	border-radius: 1rem;
	border: 2px solid transparent;
	padding: 0.75rem 1.5rem;
	margin: 0 0 2rem 2%;
	width: 96%;
	max-width: 20rem;
}

form input.submitBtn:hover {
	background-color: #fff;
	color: #000;
	border-color: hsl(235, 66%, 25%);
}

form label.form-top input:required {
	border-left: red solid 6px;
}

form label.form-top input:required:valid {
	border-left: green solid 6px;
}

.join-grid .cards {
	background-color: #f6fafd;
}

/*--------- DIRECTORY PAGE ----------*/
.directory-menu {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.directory-menu button {
	padding: 0.6rem 1.5rem;
	cursor: pointer;
	border: 2px solid hsl(235, 66%, 25%);
	border-radius: 4px;
	color: #000;
	background-color: #fff;
	margin-bottom: 20px;
	margin-top: -20px;
}

.directory-menu .directory-active {
	background-color: hsl(235, 66%, 25%);
	color: #fff;
}

article section h2 {
	display: block;
	color: hsl(235, 66%, 25%);
}

.article-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 15px;
	text-align: center;
}

.article-grid section {
	box-shadow: 0px 2px 10px 6px rgba(220, 220, 220, 0.9);
	padding-top: 15px;
	padding-bottom: 15px;
}

.article-grid section img {
	border-radius: 5px;
}

section a {
	color: hsl(235, 66%, 25%);
}

article section a:visited,
article section a:hover {
	color: maroon;
}

section address {
	padding-top: 0;
}

.article-list {
	display: block;
}

.article-list section {
	padding: 1rem;
}

article section h2 {
	font-size: 1.2rem;
	margin-bottom: 1px;
}

.article-list section h2 {
	color: #000;
}

.article-list section img {
	display: none;
}

.article-list section:nth-child(odd) {
	background-color: #eee;
	border-left: 6px solid hsl(235, 66%, 25%);
}

::selection {
	background-color: #000;
	color: #fff;
}
