@media (min-width: 32.5em) {
	a {
		color: #000;
	}

	header {
		display: flex;
		align-items: center;
	}

	.header-text {
		font-size: 25px;
	}

	.header-text span {
		display: initial;
	}

	#menu {
		display: none;
	}

	nav {
		display: block;
		padding-left: 10rem;
		margin: 0;
		width: 100%;
		background-color: transparent;
		position: relative;
	}

	.nav-ul {
		display: flex;
		align-items: center;
		margin: 0;
	}

	.nav-ul li {
		flex: 1 1 100%;
	}

	.nav-ul li a {
		width: 100%;
	}

	.nav-ul li a:hover,
	.active {
		background-color: hsl(235, 66%, 25%);
		color: rgb(255, 255, 255);
		font-weight: 700;
	}

	.logo img {
		width: 60px;
		height: 60px;
	}

	#hero {
		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
	}

	#hero-container {
		background-image: url(../images/hero3.jpg);
		grid-column: 1/4;
		grid-row: 1/3;
		height: 700px;
	}

	#hero-msg {
		position: relative;
		grid-column: 2/4;
		grid-row: 1/2;
		color: #fff;
		top: 0;
		left: 60%;
		text-align: left;
		margin-top: 20rem;
		width: 50%;
	}

	#hero-msg h2 {
		font-size: 2rem;
	}

	#cta-container {
		text-align: center;
	}

	#cta-button {
		padding: 1.2rem 2rem;
		font-size: 1.2rem;
		font-weight: 700;
	}

	main {
		max-width: 1200px;
		padding-left: 10px;
		padding-right: 10px;
	}

	main h2 {
		display: none;
	}

	#main-grid,
	#spot-grid {
		display: grid;
		column-gap: 10px;
	}

	#main-grid {
		grid-template-columns: 2fr 1fr;
	}

	#spot-grid {
		grid-template-columns: repeat(3, 1fr);
	}

	#lastModified {
		display: initial;
	}

	.hidden {
		display: initial;
	}

	#footer-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	#footer-grid p {
		grid-column: 1 / 4;
	}

	#footer-links {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#footer-links a {
		color: #fff;
	}
}
