@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

:root {
	--background: #011627;
	--foreground: #2ec4b6;
	--header: #ff9f1c;
	--black: #000;
	--white: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--background);
	font-family: "Roboto", sans-serif;
	margin: 0 auto;
	max-width: 1000px;
	color: var(--white);
}

header {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	gap: 5px;
	background-color: var(--header);
	padding: 20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

header img:first-child {
	border-radius: 5px;
	height: auto;
}

h1,
h2,
h3 {
	font-family: "Space Grotesk", sans-serif;
}

h1 {
	text-align: center;
	color: var(--black);
	font-size: 1.5rem;
}

h2 {
	font-size: 1.2rem;
}

p {
	margin: 10px auto;
}

#menu {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px 10px;
	margin: 10px 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	font-size: 2rem;
	font-weight: bold;
	background-color: var(--background);
	color: var(--white);
}

nav {
	background-color: var(--foreground);
}

.nav-ul li {
	display: none;
}

ul li {
	list-style-type: none;
}

.nav-ul li a {
	display: block;
	text-align: center;
	padding: 10px;
	color: var(--black);
}

a {
	text-decoration: none;
}

.nav-ul li a:hover {
	padding: 10px;
	background-color: var(--white);
	font-weight: 700;
}

.open li {
	display: block;
}

.active {
	background-color: var(--white);
}

.dark-theme {
	position: absolute;
	top: 0;
	left: 0;
	margin: 16px 10px;
}

.hero {
	position: relative;
	margin-bottom: 20px;
}

.hero-label {
	position: absolute;
	top: 30px;
	left: 30px;
	color: var(--black);
	background: radial-gradient(#fff, #b6c4df);
	padding: 0.5rem 1.6rem;
	border: 1px solid rgba(255, 255, 255, 0.75);
	opacity: 0.75;
	box-shadow: 0 0 3rem var(--white);
}

.hero-label h2 {
	font-family: "Great Vibes", serif;
	padding: 0.6rem 0;
	letter-spacing: 0.2rem;
	font-size: 2rem;
}

.hero img {
	width: 100%;
	height: auto;
}

main {
	display: block;
	margin: 0 auto;
	max-width: 350px;
	margin-bottom: 20px;
}

main.record {
	display: block;
}

.record h1 {
	color: var(--white);
}

.record p {
	padding-left: 20px;
}

.light-theme {
	background-color: var(--white);
}
.light-color {
	color: var(--black);
}

main h2 {
	margin-bottom: 20px;
	text-align: center;
}

.hr {
	margin-top: -1rem;
	margin-bottom: 2rem;
}

.card {
	background-color: var(--background);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 10px rgba(255, 255, 255, 0.2);
	margin-bottom: 30px;
	border-radius: 6px;
	overflow: hidden;
}

.card h3 {
	background-color: var(--foreground);
	padding: 10px;
	margin-bottom: 5px;
	text-align: center;
	color: var(--black);
}

.card ul {
	padding: 10px 20px;
}

.card ul li {
	margin-bottom: 10px;
}

.card ul li a {
	color: var(--header);
}

.card ul li a:hover {
	text-decoration: underline;
}

.card div {
	text-align: center;
	padding: 20px;
}

#map iframe {
	width: 100%;
}

/*---------- FOOTER ------------*/

footer {
	background-color: var(--header);
	color: var(--black);
	text-align: center;
	padding: 10px;
	margin-top: 30px;
	border-radius: 5px;
}

.footer-text {
	display: block;
	position: relative;
}

.footer-text img {
	position: absolute;
	top: -5px;
	margin-left: 4px;
}
