/*------------ FORM -------------*/
:root {
	--foreground: #2ec4b6;
	--black: #000;
	--white: #fff;
}

form fieldset {
	margin: 2rem 0;
	border: 1px solid var(--foreground);
	border-radius: 10px;
	padding: 0.5rem 2%;
}

form legend {
	color: var(--foreground);
	margin: 0 1rem;
	padding: 0 0.5rem;
}

form label.form-top,
form div {
	display: block;
	padding-top: 1rem;
	color: var(--white);
	font-size: 0.8rem;
}

/* input[type="range"]::-webkit-slider-thumb {
	padding: 0.75rem;
} */

form label.form-top input {
	display: block;
	font-size: 1rem;
	border: solid 1px #999;
	border-radius: 4px;
	padding: 0.75rem;
	color: #555;
	width: 100%;
	max-width: 30rem;
	background-color: var(--white);
}

datalist {
	padding: 4rem;
}

form input.submitBtn {
	border: none;
	background-color: var(--foreground);
	color: var(--black);
	border-radius: 1rem;
	padding: 0.75rem 1.5rem;
	margin: 0 0 2rem 2%;
	width: 96%;
	max-width: 20rem;
}

#emailMessage,
#passMessage {
	display: none;
	background-color: red;
	width: 100%;
	max-width: 30rem;
	padding: 2px 5px;
}

#rangevalue {
	font-size: 1.1rem;
	font-weight: bold;
}

#rangevalues {
	display: flex;
	margin: 0;
	gap: 23px;
	width: 100%;
	justify-content: space-evenly;
	max-width: 32.8rem;
	padding: 0 20px;
	color: var(--white);
}

#rangevalues option {
	flex: 1 1 auto;
	color: 000;
}

form label.form-top input:required:valid {
	border-left: green solid 6px;
}

@media (min-width: 32.5em) {
	main.form {
		margin: 0 auto;
		max-width: 900px;
		display: block;
	}

	#rangevalues {
		gap: 0;
	}
}
